body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    text-align: center;
  }



h1 {   text-align: center; color: black; }

input {
  color: #3D3D3D;
}

img {
  display: block;

}

  .camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  .camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(21, 255, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
  }

.highlighter {
    background: none;
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
  }