{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        
        <div class="card-body">
            <h1 class="text-center">Simple Linear Regression</h1>
        </div>

        <div class="card-body col-6">
            <h4 class="text-center">Scatter Plot Data</h4>
            <canvas id="scatter" height="400" width="600" aria-label="Hello ARIA World" role="img"></canvas>
        </div><hr>

        <div class="card-body">
            <div class="form-group">
                <h3>Train Model</h3>        
                <button type="button" class="btn btn-primary" 
                    id="init-btn">Initialize Model</button>
                <button type="button" class="btn btn-primary" 
                    id="train-btn" disabled>Train Model</button>
            </div>
            <h4><span id="is-training" class="badge"></span></h4>
        </div><hr>

        <div class="card-body" id="predict">    
            <h3>Test Result</h3>
            <div class="col-3 form-group">                            
                <label>Input Value:</label> 
                <input type="text" id="inputValue" class="form-control"/>
            </div>        
            <div class="col-3 form-group">
                <button type="button" class="btn btn-primary" 
                    id="predict-btn" disabled>Predict</button>                
            </div>
            <h4>Result: <span class="badge bg-success" id="output"></span></h4>
        </div><hr><br><br>
    </div>
    <script src="{{ url_for('static', filename='linear.js') }}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}